a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

li {
  list-style: none;
}

// カテゴリー一覧表示
.category__parents, .category__childs, .category__grandchilds {
  display: none;
  padding-left: 0px;
}

.category__parents {
  width: 220px;
  border-right: 1px solid lightgrey;
}

// カテゴリーの大枠の要素の共通部分
.category__name {
  position: absolute;
  height: 750px;
  background-color: white;
  box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.4);
}

.categories__lists {
  position: absolute;
  left: 80px;
  top: 104px;
  z-index: 5;
}

.category__link {
  color: white;
  padding-left: 80px;
}

// 子要素はカテゴリー名の共通部分
.category__child--name2 {
  width: 100%;
  display: inline-block;
  padding: 5px;
  font-size: 13px;
}

.categories__contents {
    height: 20px;
    // border-top: 1px solid #eee;
    // box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    background-color: white;
    &:hover {
    .categories__list {
      padding-left: 100px;
      background-color: white;
      margin: 0;
      &:hover {
        .category__parents {
          display: block;
          &--name2 {
            width: 100%;
            color: black;
            display: inline-block;
            padding: 0px 10px 16px 10px;
            font-size: 15px;
          }
          .category1 {
            &:hover{
              background-color: mediumaquamarine;
              .category__childs {
                width: 100%;
                display: block;
                top: 0;
                left: 220px;
                .childs {
                  &:hover{
                    background-color:rgba(0,0,0,0.2);
                    .category__grandchilds {
                      width: 260px;
                      display: block;
                      top: 0;
                      left: 220px;
                      .grandchilds {
                        &:hover {
                          background-color:rgba(0,0,0,0.1);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
