h1.card_information-payment{
  text-align:center;
  border-bottom: solid 1px gray;
}

.figure_images{
  margin-left:0px;
  text-align:center;
}
.form-content{
  font-size:30px;
  margin-top:0px;
  text-align:center;
}

.payment-content__creditcards__list{
  font-size:0px;
}

button.delete-btn{
  width:90px;
  height:40px;
}