.category {
  width: 100%;
  height: 100%;
  &__list {
    width: 700px;
    margin: 0 auto;
    padding-bottom: 20px;
    &--title{
      font-size: 20px;
      padding: 40px 0 15px;
    }
    .category__box {
      font-size: 15px;
      margin: 0 10px 10px 0;
      padding: 10px 30px;
      background-color: white;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
      border-radius: 3px;
      display: inline-block;
      transition: 0.2s;
      &:hover {
        opacity: 0.8;
        background-color: turquoise;
        color: white;
      }
    }
  }
  &__lists {
    width: 700px;
    margin: 0 auto;
    background-color: whitesmoke;
    margin-bottom: 40px;
    border-radius: 0 0 10px 10px;
    &--box {
      width: 640px;
      background-color: turquoise;
      border-radius: 4px 4px 0 0;
      color: white;
      padding: 5px 30px;
      font-size: 20px;
    }
  }
}

.category__child {
  padding: 30px;
  &__box {
    font-size: 14px;
    // font-weight: unset;
    color: block;
    &:hover {
      color: gray;
      opacity: 0.6;
    }
  }
  .child__box {
    margin-bottom: 15px;
    &--list {
      font-size: 13px;
      font-weight: bold;
    }
  }
}

.grandchild__box {
  padding: 5px 25px 10px;
  .grandchild__link {
    width: 250px;
    height: 20px;
    display: inline-flex;
    margin-bottom: 10px;
  }
}