.category1{
  display: none;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  width: 224px;
  list-style: none;
  text-align: center;
  cursor: pointer;
  text-align: center;
  z-index: 1;
  padding-top: 200px;
  position: absolute;
  top: 300px;
  li{
  &:hover {
  background-color: #ea352d;
  a {
    color: #fff;
      }
    }
  }
}

ul.category2{
  display: none;
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display: none;
  left: 224px;
  position: absolute;
  top: 44px;
  width: 224px;
  cursor: pointer;
  text-align: center;
  li.child__list{
    background-color: rgb(255, 255, 255);
  a{
    color:#000;
  }
}
  li{
    &:hover {
    background-color: #ea352d;
    a {
      color: #fff;
        }
      }
    }
  }


ul.category3{
  display: none;
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  display: none;
  left: 224px;
  position: absolute;
  top: 0px;
  width: 320px;
  cursor: pointer;
  text-align: center;
  li.grandchild__list{
    background-color: rgb(255, 255, 255);
    a{
      color:#000;
    }
  }
  li{
    &:hover {
    background-color: #ea352d;
    a {
      color: #fff;
      }
    }
  }
}