.index__category {
  height: 85px;
  padding: 56px 0 60px 0;
  background: white;
  .index__category--top {
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    line-height: 20px;
  }
  .category__names {
    width: 100%;
    &--box {
      display: flex;
      justify-content: center;
      font-size: 12px;
      font-weight: bold;
      list-style: none;
    }
    &--boxs {
      background-color: rgb(245, 245, 245);
      margin: 10px 0 0 10px;
      padding: 8px 16px;
      border-radius: 1rem;
    }
  }
}
.category__a {
  padding: 8px 16px;
  color: black;
}

.products {
  width: 100%;
  height: 550px;
  text-align: center;
  &__list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    vertical-align: text-bottom;
    &--name {
      font-size: 24px;
      display: block;
      margin-left: 80px;
      margin-bottom: 0;
    }
  .items {
    color: lightblue;
    font-size: 18px;
    margin-top: 35px;
    margin-right: 90px;
    }
  }
}

.product {
  width: 100%;
  &__posts {
    width: 1000px;
    margin: 0 auto;
    &--boxs {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      &__item {
        width: 18%;
        height: 200px;
        margin: 10px;
        list-style: none;
        background-color: white;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        position: relative;
      }
    }
  }
}
.posts__image {
  width: 100%;
  height: 100%;
}
.item-image {
  width: 100%;
  height: 140px;
}
.posts__price {
  position: absolute;
  top: 100px;
  left: 0;
  font-size: 14px;;
  padding-right: 5px;
  color: white;
  background: rgba(0,0,0,.4);
  border-radius: 0 14px 14px 0;
}
.posts__text {
  width: 100%;
  height: 60px;
  overflow: auto; 
  .posta__tag {
    color: black;
    text-align: left;
    margin: 0;
    padding: 0 5px;
  }
}