.buy_confirmation{
  text-align:center;
  background-color:whitesmoke;
  width:700px;
  margin:0 auto;
}

.buy-content{
  height:60px;
  border-bottom:1px solid;
  line-height:60px;
  font-size:20px;
  font-weight:700;
}

.buy-item-image{
  margin-top:30px;
}

.buy-item-detail{
  margin-top:20px;
}

.buy-price-table{
  display:flex;
  justify-content:center;
  margin-top:20px;
}

button.buy-button{
  width:200px;
  height:40px;
  margin-top:30px;
  margin-bottom:30px;
  background-color:red;
  color:white;
  font-size:20px;
}


