.items__index
  = render partial: 'partial/navbar'
  - breadcrumb :mypage
  = breadcrumbs separator: " &rsaquo; "
.contents
  .left__content
    = render partial: 'side'
  .main__content
    = render partial: 'profile'