
.items__index
  = render partial: 'partial/navbar'
  
.contents
  .left__content
    = render partial: 'side'

  %section
    .main__logout
      = link_to destroy_user_session_path, method: :delete do
        %h2.main__logout--box
          = "ログアウト"